<div id="<%= dom_id training %>">
  <p>
    <strong>Title:</strong>
    <%= training.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= training.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= training.start_date %>
  </p>

  <p>
    <strong>Main instructor:</strong>
    <%= training.main_instructor %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= training.category %>
  </p>

</div>
